header,
footer,
main {
    padding-left: 300px;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    overflow: auto;
    height: 550px;
}

html {
    font-family: 'Ubuntu',
    sans-serif;
}

#hiddenLogo {
    padding-left: 20px;
    display: block;
    margin: auto;

}

#headerLogo {
    padding: 1px;
}

/*chat styling*/

input#message {

    background: none;

    border: none;

    border-bottom: 1px solid #4C4C4C;

    outline: none;

    box-shadow: none;

    color: black;

    font-size: 1.6em;

    font-weight: 300;

    margin-bottom: 3em;

    padding: 1.2em 0;

}

.chat-container {

    display: block;

    width: 100%;

}

.chat-container:nth-child(4) {

    opacity: .8;

}

.chat-container:nth-child(3) {

    opacity: .6;

}

.chat-container:nth-child(2) {

    opacity: .4;

}

.chat-container a {

    text-transform: uppercase;

    font-weight: bold;

    color: #816A98;

    font-size: .8em;

    letter-spacing: 2px;

}

.chat-container p {

    background: #323035;

    padding: 1.1em;

    color: white;

    margin: 5px 0 10px 0;

}

button {

    background: #4267B2;

    color: white;

    padding: 1.2em;

    width: 300px;

    text-align: center;

    font-size: 1.2em;

    margin-bottom: 30px;

    cursor: pointer;

}
